{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'navbar/index.html' %}
    <div class="mar" style="margin-top: 100px;min-height:60vh;">
        <h2>About Statsquery</h2>
        <p class="aboutdes">Statsquery provides online study materials for statistics. All the study materials are written after studying numerous books and resources. Statsquery also provides previous years question papers and its solution of different types of examinations. Although , 
            Statsquery does not gurantte the acuracy of the material provided </p>
    </div>
    {% include 'footer/index.html' %}
    <style>
        h2{
            text-align: center;
            font-family: 'Lato',sans-serif;
        }
        .aboutdes{
            padding: 20px;
        }

        
    </style>
</body>
</html>