{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap Icons -->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css" integrity="sha384-ejwKkLla8gPP8t2u0eQyL0Q/4ItcnyveF505U0NIobD/SMsNyXrLti6CWaD0L52l" crossorigin="anonymous">

    <!-- Home CSS -->

    <link rel="stylesheet" href="{% static 'css/home.css'%}">

    <title>Document</title>

    <!-- AOS -->

    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    {% comment %} Fonts {% endcomment %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Roboto:wght@300;400;500;700;900&family=Source+Sans+Pro:wght@300;400;600;700;900&display=swap" rel="stylesheet">

    <!-- Bootstrap -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <!-- Share Icons -->

    <script type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property=62446e0d3476c200195432fc&product=inline-share-buttons" async="async"></script>

    

</head>

<body>

<!-- TOP Navbar Start -->

<div class="nav-x" id="nav">

    <!-- Logo Nav Header -->

    <div class="logo">

        <span><a href="{% url 'home' %}"><img src="{% static 'images/logo.svg'%}" alt=""></a></span>

    </div>

    <div class="menu">

        <ul class="largemenulist">

            <li class="menuitem"><a href="{% url 'home' %}">HOME</a></li>

            <li class="menuitem"><a href="{% url 'blog' %}">Blog</a></li>

            <li class="menuitem"><a href="{% url 'solution' %}">SOLUTIONS</a></li>

            <li class="menuitem"><a href="{% url 'contact' %}">CONTACT</a></li>

            <li class="menuitem"><a href="{% url 'about' %}">ABOUT</a></li>

        </ul>

        <div class="menuicon"><button onclick="showdropmenu()"><i class="fa-solid fa-bars" id="mit"></i></button></div>

    </div>

</div>

<!-- Top Navbar End -->



    <!-- Top Navbar For Small Screen Start-->

    <div class="dropmenu hidemenu" id="dropmenu">

        <ul class="menulist">

            <li class="menuitem"><a href="{% url 'home' %}">HOME</a></li>

            <li class="menuitem"><a href="{% url 'blog' %}">Blog</a></li>

            <li class="menuitem"><a href="{% url 'solution' %}">SOLUTIONS</a></li>

            <li class="menuitem"><a href="{% url 'contact' %}">CONTACT</a></li>

            <li class="menuitem"><a href="{% url 'about' %}">ABOUT</a></li>

        </ul>

    </div>

    <!-- Top Navbar For Small Screen End-->



    <!-- Landing of website Starts -->

    <div class="contents">

        <div class="left">

            <h1>Welcome To Statsquery</h1>

            <h4>Learn Statistics</h4>


            <div><a href="{% url 'blog' %}">Start Learning</a></div>

        </div>

        <div class="right">

            <img src="{% static '/images/stats.jpg' %}" alt="">

        </div>

    </div>

   

    <!-- Landing of website Ends -->

    <!-- Features Starts -->

    <div class="fmain">

        <h2>

            FEATURES

        </h2>

        <div class="feature">

            <div class="card ca" style="width: 18rem;">

                <img src="{% static 'images/feature3.svg'%}" class="card-img-top" alt="...">

                <div class="card-body">

                <h5 class="card-title">Statistics</h5>

                <p class="card-text">Learn statistical concept in deep. Our Contents are made after deep researching.</p>

                {% comment %} <a href="#" class="btn btn-primary"></a> {% endcomment %}

                </div>

            </div>

            <div class="card cb" style="width: 18rem;">

                <img src="{% static 'images/feature1.svg'%}" class="card-img-top" alt="...">

                <div class="card-body">

                <h5 class="card-title">Solved Papers</h5>

                <p class="card-text">Statsquery provide you previous years solved question of many competitive exams  in detail </p>

               

                </div>

            </div>

            <div class="card cc" style="width: 18rem;">

                <img src="{% static 'images/feature2.svg'%}" class="card-img-top" alt="...">

                <div class="card-body">

                <h5 class="card-title">Prepare For Exams</h5>

                <p class="card-text">Statsquery helps you in preparing for different statistical competitive exams.</p>

               

                </div>

            </div>

        </div>

    </div>

    <!-- Features Ends -->



    <!-- Latest Posts Starts -->

    <div class="posts">

        <h2 class="">Latest Articles</h2>

        <div class="postgrid">

            {% for post in posts %}

            <div class="card"

              data-aos="fade-up" 

              data-aos-delay="10"

              data-aos-duration="1000"

              style="width: 18rem;">

                <div class="card-body">

                <h5 class="card-title">{{post.title}}</h5>

                <hr>

                <p class="card-text">{{post.post|truncatechars:100}}.</p>

                <a href="{% url 'post' post.sno %}" class="btn btn-primary">Read More</a>

                </div>

                <div class="card-footer">

                    <small class="text-muted">Last updated {{post.last_updated}}</small>

                  </div>

            </div>

            {% endfor %}

        </div>

    </div>

    <!-- Latest Posts Ends -->

    

    <!-- Subscribe Starts -->

    <div class="subscribe">

        <h2>GET UPDATES</h2>

        <h6>Stay Updated With Statsquery New Articles</h6>
        
        <form action="" method="post">
            {% csrf_token %}
        <div class="inputbox">
            {{form.email}}
            <!-- <input placeholder="Email Address" type="email"> -->

        </div>

        <div class="agree">
            
            <!-- <input type="checkbox" name="agree" id=""><span> I've read and agree to statsquery's written <a href="{% url 'privacy' %}">Privacy Policy</a> and <a href="{% url 'terms' %}">TermsConditions</a></span> -->

        </div>

        <div class="sub">

            <button type="submit">SUBSCRIBE</button>

        </div>

        </form>

    </div>

    <!-- Subscribe Ends -->

    

    <!-- Share Icons Starts -->
    <center><h2 style="margin-top: 30px;">Share</h2></center>

    <div class="sharethis-inline-share-buttons share"></div>

    <!-- Share Icons Ends -->



    <!-- Footer Section Starts -->

    



    <div class="footer" style="padding-top:50px;">

        <div class="fgrid" style="padding-top:15px;">

            <div>

                <h6>Important Links</h6>

                <a href="{% url 'blog' %}">Blog</a>

              <a href="{% url 'solution' %}">Exams Solution</a>

            </div>

            <div>

                <h6>Statsquery</h6>

                <a href="{% url 'about' %}">About</a>

                <a href="{% url 'privacy' %}">Privacy Policy</a>

                <a href="{% url 'terms' %}">Terms Conditions</a>

            </div>

        </div>

        

        <center><a href="{% url 'home' %}">STATSQUERY 2022 - All Rights Reserved</a></center>

    </div>

    <!-- Footer Section Ends -->

    

    <!-- Scripts -->

    <script src="{% static 'js/home.js'%}"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script>

      AOS.init();

    </script>

    <!-- Scripts Ends -->

</body>

</html>
