.footer center {
  padding: 10px;
  background-color: #000;
  color: white;
}


.footer .fgrid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  background-color: black;
}

.footer .fgrid div {
  -ms-grid-column-align: center;
      justify-self: center;
}

.footer .fgrid div h5 {
  color: #8f958ceb;
}

.footer .fgrid div a {
  text-decoration: none;
  color: white;
}
.footer center a{
  color: #4f5555;
  text-decoration: none;
}