.navmar {
    padding: 42px;
  }

.formulae{
  padding: 5px;
  background-color: #020202;
  color: antiquewhite;
  width: 100%;
  border-radius: 2px;
  font-size: 20px;
}
.maindiv {
    margin-left: 1px;
    margin-right: 1px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 10fr 2fr;
    grid-template-columns:10fr 2fr;
  grid-auto-rows: auto;
}
  

  
  .rightside {
    min-width: 250px;
    /* height: calc(100vh - 140px); */
  }
  
  .rightside .quelist {
    padding: 5px 10px;
    font-family: 'Raleway', sans-serif;
    letter-spacing: 0.05rem;
    color: #1f1c1c;
    font-size: 18px;
    background-color: #e3dbdb92;
  }
  
  .rightside a {
    text-decoration: none;
    text-transform: capitalize;
  }
  
  .rightside .quelist:hover {
    background-color: #8a898f9b;
  }
  
  .des {
    margin-right: 10px;
    margin-left: 50px;
    position: relative;
  }
  
  .posthead {
    width: 100%;
    /* background-color: #f6f2f2; */
  }
  
  .posthead h3 {
    padding-top: 10px;
    text-decoration: none;
    margin: 0px;
    padding-left: 50px;
    padding-bottom: 20px;
    color: black;
  }
  
  .posthead p {
    padding-top: 20px;
    padding-left: 50px;
  }
  
  .posthead a {
    text-decoration: none;
    margin: 0px;
    color: #3f3a3a;
  }
  
  .posthead .author {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-left: 50px;
    margin-top: 20px;
    font-weight: bold;
  }
  
  .posthead .author .left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  
  .posthead .author .right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .postbody p {
    padding: 0px 50px;
    font-size: large;
    font-weight: bolder;
  }
  .descrip{
    padding:0px 20px;
  }
  .contitle{
    text-align: center;
    background-color: #020202;
    color: white;
    padding: 10px 0px;
    text-transform: uppercase;
  }
  @media (max-width: 1051px) {
    .navmar {
      padding: 42px;
    }
    .maindiv {
      -ms-grid-columns: 6fr 2fr;
          grid-template-columns: 6fr 2fr;
    }
    .descrip {
      padding-left: 20px;
    }
   
    .contents {
      min-width: 50px;
      display: none;
    }
  }
  
  @media (max-width: 751px) {
    .maindiv {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
    }
    .des {
      padding-left: 50px;
    }
    
  }
  
  .navbar-custom {
    padding: 0.5rem 1.5rem 0.5rem 2rem;
  }
  
  .lpcontainer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  
  .lpcontainer .post {
    border: 1px solid grey;
  }
  
  .rellink a {
    text-decoration: none;
  }
  
  .ptitle {
    margin-top: 20px;
  }
  
  .pdetail {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  
  .pdetail .pauthor {
    -ms-grid-column-align: start;
        justify-self: start;
  }
  
  .pdetail .created {
    -ms-grid-column-align: center;
        justify-self: center;
  }
  
  hr {
    border: 1px solid #dddcdc;
    margin-right: 10%;
  }
  
  .pdes {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
    overflow-x: auto;
    white-space: normal;
    padding-right: 10px;
  }
  
  /* h1, h2, h3 {
    font-size: 40px;
  }
  
  h3, h4, h5, p, div {
    font-size: 25px;
  } */
  /*# sourceMappingURL=blogpost.css.map */
  p{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
  }
  h1 , h2 ,h3{
    font-family: 'Lato',sans-serif;
    font-size: 18px;
  }
  a{
    font-family: 'Lato',sans-serif;
  }