 <!-- Footer Section Starts -->
 {% load static %}
 <link rel="stylesheet" href="{% static 'css/footer.css'%}">

 <div class="footer" style="padding-top:50px;">

    <div class="fgrid" style="padding-top:15px;">

        <div>

            <h6>Important Links</h6>

            <a href="{% url 'blog' %}">Blog</a>

          <a href="{% url 'solution' %}">Exams Solution</a>

        </div>

        <div>

            <h6>Statsquery</h6>

            <a href="{% url 'about' %}">About</a>

            <a href="{% url 'privacy' %}">Privacy Policy</a>

            <a href="{% url 'terms' %}">Terms Conditions</a>

        </div>

    </div>

    

    <center><a href="{% url 'home' %}">STATSQUERY 2022 - All Rights Reserved</a></center>

</div>
    <!-- Footer Section Ends -->