{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/post.css'%}">
</head>
<body>
    {% include 'navbar/index.html' %}
    <div>
        <div class="navmar"></div>
        <!--Start of main div -->
        <div class="maindiv">
            <!--A short description of topics in list of contents -->
            <div class="descrip">
                <div class="rellink">
                    <a href="{% url 'activeblog' catindex %}">{{post.category}} > </a>{{post.title}}
                </div>
                <div class="ptitle">
                    <h4>{{post.title}}</h4>
                </div>
                <hr>
                <div class="pdetail">
                    <div class="author"><strong>BY :{{post.author}}</strong></div>
                    <div class="created">
                        {{post.last_updated}}
                    </div>
                </div>
                <hr>
                <div class="pdes">{% autoescape on %}{{post.post}}{% endautoescape %}</div>
                
            </div>
            <!--siderbar in right-->
            <div class="rightside">
                <div class="contitle">
                    Solved Papers
                </div>
                
                <hr style="margin:0px">
                {% for exam in exams %}
                <a href="{% url 'solutionyears' exam.exam_name %}">
                    <div class="quelist"> 
                       {{forloop.counter}}. {{exam.exam_name}}
                    </div>
                </a>
                {% endfor %}
                
            </div>
        </div>
        <!--end of main div-->
    </div>
    {% include 'footer/index.html' %}
    <script src="{% static 'blog/blog.js' %}"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</body>
</html>